@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #737373;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}

.page__clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
  /* .header-block__title */
  /* .header-block__sub-title */
}

.header-block__title {
  color: #252b42;
  line-height: 142%;
  font-weight: 700;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  line-height: 142%;
  color: #737373;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  /* .header__container */
  /* .header__logo */
  /* .header__menu */
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #252B42;
  font-weight: 700;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  padding: 5px 0;
  /* .menu__icon */
  /* .menu__body */
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 1.7142857143;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu__link:hover {
  text-decoration: underline;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  /* .footer__top */
  /* .footer__container */
  /* .footer__main */
  /* .footer__row */
  /* .footer__column */
  /* .footer__label */
  /* .footer__menu */
  /* .footer__contacts */
  /* .footer__bottom */
  /* .footer__content */
  /* .footer__copy */
  /* .footer__social */
}

.footer__top {
  background: #17213c;
  padding: 35px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.footer__column {
  padding: 15px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 18.6667%;
          flex: 1 1 18.6667%;
}

.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  color: #737373;
  line-height: 171%;
}

.menu-footer {
  /* .menu-footer__list */
  /* .menu-footer__item */
  /* .menu-footer__link */
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu-footer__link {
  color: #fff;
  display: inline-block;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* .contacts-footer__item */
}

.contacts-footer__item {
  padding: 0px 0px 0px 34px;
  line-height: 142%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  min-height: 30px;
  /* .contacts-footer__item_phone */
  /* .contacts-footer__item_map */
  /* .contacts-footer__item_email */
}

.contacts-footer__item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.contacts-footer__item_phone {
  background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .social__item */
}

.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.main-block {
  position: relative;
  /* .main-block__container */
  /* .main-block__body */
  /* .main-block__title */
  /* .main-block__text */
  /* .main-block__buttons */
  /* .main-block__button */
  /* .main-block__image-ibg */
}

.main-block__body {
  position: relative;
  z-index: 2;
  max-width: 25rem;
}

.main-block__title {
  color: #252b42;
  line-height: 137%;
  letter-spacing: 0.2px;
  font-weight: 800;
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  /* .main-block__button_orange */
  /* .main-block__button_border */
}

.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}

.main-block__button_orange:hover {
  background-color: #fff;
  color: #ff7b47;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__button_border:hover {
  background-color: #0d5c63;
  color: #fff;
}

.main-block__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services {
  /* .services__container */
  /* .services__column */
  /* .services__item */
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.services__item {
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.item-service {
  /* .item-service_green */
  /* .item-service__icon */
  /* .item-service__title */
  /* .item-service__text */
}

.item-service.active {
  background-color: #0d5c63;
  color: #fff;
}

.item-service__icon:not(:last-child) {
  padding-bottom: 0.625rem;
}

.item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.item-service__title:not(:last-child) {
  padding-bottom: 0.625rem;
}

.item-service__text {
  color: #737373;
  line-height: 142%;
}

.item-service__text.active {
  color: #fff;
}

.page {
  /* .page__advantages */
}

.advantages {
  /* .advantages__container */
  /* .advantages__header */
  /* .advantages__body */
  /* .advantages__column */
  /* .advantages__item */
  /* .advantages__icon */
  /* .advantages__value */
  /* .advantages__text */
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0rem 0.9375rem;
  margin: 0rem 0rem 1.875rem 0rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.advantages__item {
  background-color: #fff;
  padding: 30px;
  font-weight: 700;
  text-align: center;
}

.advantages__item:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
}

.advantages__text {
  letter-spacing: 0.1px;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}

.practice {
  padding: 7.8125rem 0rem 5rem 0rem;
  /* .practice__container */
  /* .practice__header */
  /* .practice__body */
  /* .practice__column */
  /* .practice__item */
}

.practice__body {
  margin: 0px -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* .item-practice__content */
  /* .item-practice__link */
  /* .item-practice__title */
  /* .item-practice__text */
  /* .item-practice__image-ibg */
}

.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}

.item-practice__image-ibg {
  display: block;
  padding: 0px 0px 60% 0px;
}

.item-practice__image-ibg img {
  -o-object-position: top;
     object-position: top;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.whoweare {
  background: #ffffff;
  padding: 80px 0px 130px 0px;
  /* .whoweare__container */
  /* .whoweare__header */
  /* .whoweare__body */
  /* .whoweare__video */
  /* .whoweare__content */
  /* .whoweare__top */
  /* .whoweare__title */
  /* .whoweare__text */
  /* .whoweare__items */
  /* .whoweare__item */
}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.whoweare__title {
  color: #252b42;
  font-weight: 800;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  color: #737373;
  line-height: 142%;
}

.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .item-whoweare__icon */
  /* .item-whoweare__body */
  /* .item-whoweare__title */
  /* .item-whoweare__text */
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  color: #252b42;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  color: #737373;
  white-space: nowrap;
  line-height: 142%;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clients {
  padding: 50px 0;
  /* .clients__container */
  /* .clients__items */
  /* .clients__item */
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
  /* .subscribe__container */
  /* .subscribe__body */
  /* .subscribe__title */
  /* .subscribe__form */
  /* .subscribe__input */
  /* .subscribe__button */
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
  background: #252b42;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #17213c;
  border-radius: 2px;
}

.subscribe__title {
  color: #fff;
  font-size: 133%;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  background: #f9f9f9;
  color: #737373;
  padding: 0px 20px;
  border: 1px solid #e6e6e6;
  border-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 22px;
}

.getintouch {
  padding: 80px 0px 135px 0px;
  background-color: #f3f3f3;
  /* .getintouch__container */
  /* .getintouch__header */
  /* .getintouch__items */
  /* .getintouch__item */
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}

.getintouch__items {
  margin: 0px -15px;
}

.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 50px 15px;
  /* .item-getintouch_active */
  /* .item-getintouch__icon */
  /* .item-getintouch__emails */
  /* .item-getintouch__email */
  /* .item-getintouch__label */
  /* .item-getintouch__button */
}

.item-getintouch:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch_active {
  background: #252b42;
  padding: 80px 15px;
  color: #fff;
}

.item-getintouch__icon:not(:last-child) {
  padding-bottom: 1.5625rem;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.item-getintouch__email:not(:last-child) {
  padding-bottom: 1.5625rem;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-getintouch__label:not(:last-child) {
  padding-bottom: 1.5625rem;
}

.item-getintouch__button {
  border: 1px solid #ff7b47;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7b47;
  line-height: 142%;
  padding: 5px 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

.contact {
  background-color: #fff;
  padding: 42px 0;
  /* .contact__container */
  /* .contact__body */
  /* .contact__content */
  /* .contact__title */
  /* .contact__text */
  /* .contact__button */
}

.contact__content {
  padding: 0px 0px 20px 0px;
}

.contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.contact__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff7b47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

@media (min-width: 47.99875em) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -15px;
  }

  .services__column {
    padding: 0px 15px;
  }

  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__content {
    padding: 0px 20px 0px 0px;
  }
}

@media (min-width: 61.99875em) {
  .getintouch__items {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 67.5em) {
  .header-block__title {
    font-size: 2.5rem;
  }

  .header__container {
    min-height: 6.5rem;
  }

  .header__logo {
    font-size: 1.5rem;
  }

  .header__menu {
    gap: 8.25rem;
  }

  .menu__list {
    gap: 1.375rem;
  }

  .menu__link {
    font-size: 0.875rem;
  }

  .main-block__body {
    padding-top: 11.5rem;
  }

  .main-block__body {
    padding-bottom: 11.9375rem;
  }

  .main-block__body:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .main-block__title {
    font-size: 3.25rem;
  }

  .services__item {
    padding: 2.1875rem;
  }

  .advantages {
    padding-top: 5rem;
  }

  .advantages__header {
    margin-bottom: 3.125rem;
  }

  .practice__header {
    margin-bottom: 2.5rem;
  }

  .whoweare__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 65em) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 35em) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 20em) {
  .header-block__title {
    font-size: 2.1875rem;
  }

  .header__container {
    min-height: 4.0625rem;
  }

  .header__logo {
    font-size: 1.125rem;
  }

  .header__menu {
    gap: 0.9375rem;
  }

  .menu__list {
    gap: 0.6875rem;
  }

  .menu__link {
    font-size: 0.75rem;
  }

  .main-block__body {
    padding-top: 6.875rem;
  }

  .main-block__body {
    padding-bottom: 9.375rem;
  }

  .main-block__body:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main-block__title {
    font-size: 2.375rem;
  }

  .services__item {
    padding: 1.25rem;
  }

  .advantages {
    padding-top: 2.375rem;
  }

  .advantages__header {
    margin-bottom: 1.4375rem;
  }

  .practice__header {
    margin-bottom: 1.375rem;
  }

  .whoweare__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 81.25em) {
  .main-block img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 81.25em) and (max-width: 61.99875em) {
  .main-block img {
    opacity: 0.5;
  }
}

@media (max-width: 67.5em) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }

  .subscribe__body {
    margin: 0px 30px;
  }
}

@media (max-width: 61.99875em) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .footer__column:not(:last-child) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .practice {
    padding: 2.5rem 0rem 5rem 0rem;
  }

  .whoweare {
    padding: 50px 0px 60px 0px;
  }

  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }

  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }

  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }

  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }

  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 15px;
  }

  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }

  .subscribe__input {
    padding: 0px 15px;
  }

  .subscribe__button {
    padding: 0px 15px;
  }

  .getintouch {
    padding: 50px 0px;
  }

  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }

  .item-getintouch_active {
    padding: 50px 15px;
  }
}

@media (max-width: 47.99875em) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copy {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .main-block__text {
    color: #585757;
  }

  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }

  .practice {
    padding: 0rem 0rem 2.5rem 0rem;
  }

  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .whoweare {
    padding: 20px 0px 40px 0px;
  }

  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }

  .whoweare__top {
    margin: 0px 0px 30px 0px;
  }

  .clients {
    padding: 30px 0;
  }

  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}

@media (min-width: 20em) and (max-width: 67.5em) {
@supports (font-size: clamp( 2.1875rem , 2.0559210526rem  +  0.6578947368vw , 2.5rem )) {
    .header-block__title {
      font-size: clamp( 2.1875rem , 2.0559210526rem  +  0.6578947368vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 2.0559210526rem  +  0.6578947368vw , 2.5rem )) {
    .header-block__title {
      font-size: calc(2.1875rem + 0.3125 * (100vw - 20rem) / 47.5);
    }
}

@supports (min-height: clamp( 4.0625rem , 3.0361842105rem  +  5.1315789474vw , 6.5rem )) {
    .header__container {
      min-height: clamp( 4.0625rem , 3.0361842105rem  +  5.1315789474vw , 6.5rem );
    }
}

@supports not (min-height: clamp( 4.0625rem , 3.0361842105rem  +  5.1315789474vw , 6.5rem )) {
    .header__container {
      min-height: calc(4.0625rem + 2.4375 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9671052632rem  +  0.7894736842vw , 1.5rem )) {
    .header__logo {
      font-size: clamp( 1.125rem , 0.9671052632rem  +  0.7894736842vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9671052632rem  +  0.7894736842vw , 1.5rem )) {
    .header__logo {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 47.5);
    }
}

@supports (gap: clamp( 0.9375rem , -2.1414473684rem  +  15.3947368421vw , 8.25rem )) {
    .header__menu {
      gap: clamp( 0.9375rem , -2.1414473684rem  +  15.3947368421vw , 8.25rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -2.1414473684rem  +  15.3947368421vw , 8.25rem )) {
    .header__menu {
      gap: calc(0.9375rem + 7.3125 * (100vw - 20rem) / 47.5);
    }
}

@supports (gap: clamp( 0.6875rem , 0.3980263158rem  +  1.4473684211vw , 1.375rem )) {
    .menu__list {
      gap: clamp( 0.6875rem , 0.3980263158rem  +  1.4473684211vw , 1.375rem );
    }
}

@supports not (gap: clamp( 0.6875rem , 0.3980263158rem  +  1.4473684211vw , 1.375rem )) {
    .menu__list {
      gap: calc(0.6875rem + 0.6875 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6973684211rem  +  0.2631578947vw , 0.875rem )) {
    .menu__link {
      font-size: clamp( 0.75rem , 0.6973684211rem  +  0.2631578947vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6973684211rem  +  0.2631578947vw , 0.875rem )) {
    .menu__link {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 6.875rem , 4.9276315789rem  +  9.7368421053vw , 11.5rem )) {
    .main-block__body {
      padding-top: clamp( 6.875rem , 4.9276315789rem  +  9.7368421053vw , 11.5rem );
    }
}

@supports not (padding-top: clamp( 6.875rem , 4.9276315789rem  +  9.7368421053vw , 11.5rem )) {
    .main-block__body {
      padding-top: calc(6.875rem + 4.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 9.375rem , 8.2960526316rem  +  5.3947368421vw , 11.9375rem )) {
    .main-block__body {
      padding-bottom: clamp( 9.375rem , 8.2960526316rem  +  5.3947368421vw , 11.9375rem );
    }
}

@supports not (padding-bottom: clamp( 9.375rem , 8.2960526316rem  +  5.3947368421vw , 11.9375rem )) {
    .main-block__body {
      padding-bottom: calc(9.375rem + 2.5625 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem )) {
    .main-block__body:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem )) {
    .main-block__body:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 2.375rem , 2.0065789474rem  +  1.8421052632vw , 3.25rem )) {
    .main-block__title {
      font-size: clamp( 2.375rem , 2.0065789474rem  +  1.8421052632vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 2.0065789474rem  +  1.8421052632vw , 3.25rem )) {
    .main-block__title {
      font-size: calc(2.375rem + 0.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem )) {
    .services__item {
      padding: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem );
    }
}

@supports not (padding: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem )) {
    .services__item {
      padding: calc(1.25rem + 0.9375 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 2.375rem , 1.2697368421rem  +  5.5263157895vw , 5rem )) {
    .advantages {
      padding-top: clamp( 2.375rem , 1.2697368421rem  +  5.5263157895vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.375rem , 1.2697368421rem  +  5.5263157895vw , 5rem )) {
    .advantages {
      padding-top: calc(2.375rem + 2.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 0.7269736842rem  +  3.5526315789vw , 3.125rem )) {
    .advantages__header {
      margin-bottom: clamp( 1.4375rem , 0.7269736842rem  +  3.5526315789vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 0.7269736842rem  +  3.5526315789vw , 3.125rem )) {
    .advantages__header {
      margin-bottom: calc(1.4375rem + 1.6875 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 0.9013157895rem  +  2.3684210526vw , 2.5rem )) {
    .practice__header {
      margin-bottom: clamp( 1.375rem , 0.9013157895rem  +  2.3684210526vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 0.9013157895rem  +  2.3684210526vw , 2.5rem )) {
    .practice__header {
      margin-bottom: calc(1.375rem + 1.125 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.5rem )) {
    .whoweare__title {
      font-size: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.5rem )) {
    .whoweare__title {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 47.5);
    }
}
}

@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .contacts-footer__item:hover {
    text-decoration: underline;
  }

  .item-practice__link:hover {
    text-decoration: underline;
  }

  .item-practice__image-ibg:hover {
    opacity: 1;
  }

  .item-practice__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .subscribe__button:hover {
    background: #ca6137;
  }

  .item-getintouch__email:hover {
    text-decoration: underline;
  }

  .item-getintouch__button:hover {
    border: 1px solid #ff7b47;
    background-color: #ff7b47;
    color: #fff;
  }

  .contact__button:hover {
    background-color: #aa5330;
  }
}

@media (any-hover: none) {
  .item-practice__image-ibg {
    opacity: 1;
  }
}