@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Merriweather:900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 52.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-family: Merriweather;
  color: #fff;
  line-height: 130%;
}

.title__dark {
  color: #222f33;
}

.text {
  line-height: 185%;
}

.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  /* .header__container */
  /* .header__logo */
  /* .header__body */
  /* .header__menu */
  /* .header__button */
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header::before .scroll::before {
  opacity: 1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 6.5625rem;
}

.header__logo {
  overflow: hidden;
}

.header__logo img {
  width: 8.4375rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.6875rem;
     -moz-column-gap: 2.6875rem;
          column-gap: 2.6875rem;
}

.header__button {
  padding: 0.625rem 1.3125rem;
  background-color: #fff;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu {
  /* .menu__body */
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
  /* .menu__icon */
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #222f33;
  /* .footer__container */
  /* .footer__mail */
  /* .footer__logo */
  /* .footer__menu */
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 20px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.footer__mail {
  font-size: 0.75rem;
  font-weight: 500;
}

.footer__logo {
  -ms-grid-column-align: center;
      justify-self: center;
}

.menu-footer {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .menu-footer__item */
  /* .menu-footer__link */
}

.menu-footer__link {
  font-size: 0.75rem;
  font-weight: 500;
}

.main-section {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .main-section__container */
  /* .main-section__content */
  /* .main-section__label */
  /* .main-section__title */
  /* .main-section__video-link */
  /* .main-section__image */
}

.main-section__container {
  padding-top: 5.625rem;
  padding-bottom: 3.125rem;
  position: relative;
  z-index: 2;
  gap: 1.25rem;
  -ms-grid-columns: 54.320988% 1fr;
  grid-template-columns: 54.320988% 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-section__label {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.main-section__label:not(:last-child) {
  margin-bottom: 0.75rem;
}

.main-section__video-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}

.main-section__video-link::before {
  content: "";
  width: 2rem;
  height: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
  border-radius: 50%;
  background: url("../img/main/play.svg") left no-repeat;
}

.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}

.main-section__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.materials {
  position: relative;
  z-index: 2;
  /* .materials__container */
  /* .materials__content */
  /* .materials__title */
  /* .materials__text */
  /* .materials__more */
  /* .materials__slider */
}

.materials__container {
  position: relative;
  padding-bottom: 1.25rem;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% minmax(17.5rem, 20.3125rem);
  grid-template-columns: 50% minmax(17.5rem, 20.3125rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1.25rem;
  min-width: 0;
}

.materials__content {
  padding-top: 1.5625rem;
  display: -ms-grid;
  display: grid;
  gap: 0.8125rem;
  justify-items: start;
}

.materials__more {
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.625rem 0.875rem;
  border: 1px solid #646d70;
}

.materials__slider {
  -webkit-transform: translate(0, -20.765027%);
      -ms-transform: translate(0, -20.765027%);
          transform: translate(0, -20.765027%);
}

.slider-materials {
  position: relative;
  /* .slider-materials__wrapper */
  /* .slider-materials__slide */
  /* .slider-materials__pagination */
}

.slider-materials__slide {
  aspect-ratio: 325/366;
  position: relative;
}

.slider-materials__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-materials__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.3125rem 1rem 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider-materials__pagination .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5rem;
          flex: 0 0 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.slider-materials__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.inovate {
  background-color: #222f33;
  padding: 70px 0px 80px 0px;
  /* .inovate__container */
  /* .inovate__title */
  /* .inovate__text */
}

.inovate__title:not(:last-child) {
  padding-bottom: 0.625rem;
}

.inovate__text {
  color: #fff;
  -webkit-columns: 2 15.625rem;
     -moz-columns: 2 15.625rem;
          columns: 2 15.625rem;
  gap: 2.6875rem;
}

.info {
  padding-top: 5.3125rem;
  padding-bottom: 5.3125rem;
  /* .info__container */
  /* .info__image */
  /* .info__content */
  /* .info__item */
  /* .info__title */
  /* .info__text */
}

.info__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
  row-gap: 1.875rem;
}

.info__image {
  text-align: center;
}

.info__image img {
  max-width: 100%;
}

.info__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  row-gap: 2.3125rem;
}

.info__title {
  font-family: Merriweather;
  color: #222f33;
  font-size: 1.125rem;
}

.info__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.info__text {
  font-size: 0.75rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .materials::before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 2.3125rem;
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    width: 61.7%;
  }

  .materials::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8.75rem;
    background-color: #222f33;
    width: 38.3%;
    /* 383/1000 */
  }
}

@media (min-width: 52.5em) {
  .title {
    font-size: 1.875rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .footer {
    padding-top: 2.5rem;
  }
}

@media (min-width: 61.99875em) {
  .main-section__video-link {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.125rem;
  }

  .footer {
    padding-bottom: 0.9375rem;
  }

  .footer {
    padding-top: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    min-height: 70px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.0625rem;
            flex: 0 0 2.0625rem;
  }

  .header__menu {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .header__button {
    padding: 0.625rem 0.9375rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    font-size: 14px;
  }

  .main-section__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .main-section__image img {
    opacity: 0.6;
  }

  .info__container {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .info__content {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    display: flex-direction;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 3.125rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 2.5rem;
  }

  .menu__link {
    font-size: 36px;
    color: #000;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .materials__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .materials__content {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .inovate {
    padding: 1.5625rem 0rem 1.5625rem 0rem;
  }

  .info {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .info__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .info__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .info__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 52.5em) {
@supports (font-size: clamp( 1.125rem , 0.6634615385rem  +  2.3076923077vw , 1.875rem )) {
    .title {
      font-size: clamp( 1.125rem , 0.6634615385rem  +  2.3076923077vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.6634615385rem  +  2.3076923077vw , 1.875rem )) {
    .title {
      font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.0240384615rem  +  4.8076923077vw , 2.5rem )) {
    .footer {
      padding-bottom: clamp( 0.9375rem , -0.0240384615rem  +  4.8076923077vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.0240384615rem  +  4.8076923077vw , 2.5rem )) {
    .footer {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 32.5);
    }
}

@supports (padding-top: clamp( 0.9375rem , -0.0240384615rem  +  4.8076923077vw , 2.5rem )) {
    .footer {
      padding-top: clamp( 0.9375rem , -0.0240384615rem  +  4.8076923077vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.0240384615rem  +  4.8076923077vw , 2.5rem )) {
    .footer {
      padding-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 32.5);
    }
}
}

@media (any-hover: hover) {
  .header__button:hover {
    background-color: #333;
    color: #fff;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .footer__mail:hover {
    text-decoration: underline;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }
}