@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Barlow";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  background-color: #191c1f;
}

.button {
  display: inline-block;
  width: 18.125rem;
  background-color: #e11b19;
  border-radius: 2.5rem;
  padding: 1.25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #851210;
}

.button span {
  display: block;
  padding-right: 1.375rem;
  background: url("../img/icons/arrow.svg") right no-repeat;
}

.title {
  font-size: 2.25rem;
  line-height: 1.1111111111;
  text-transform: uppercase;
  font-weight: 700;
}

.label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  z-index: 50;
  /* .header__container */
  /* .header__logo */
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #191c1f;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  /* .footer__container */
  /* .footer__logo */
  /* .footer__social */
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* .social__items */
  /* .social__link */
}

.no-webp .main-block{
  background: url("../img/main-background.jpg") center/cover no-repeat; }

.main-block {
  padding-top: 11.25rem;
  padding-bottom: 11.25rem;
  position: relative;
  /* .main-block__container */
  /* .main-block__body */
  /* .main-block__label */
  /* .main-block__title */
  /* .main-block__text */
  /* .main-block__button */
}

.main-block__container {
  position: relative;
  z-index: 2;
}

.main-block__body {
  max-width: 46.625rem;
}

.main-block__label {
  line-height: 111.111%;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
}

.main-block__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.main-block__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 4rem;
  line-height: 1.171875;
  font-weight: 700;
}

.main-block__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.main-block__text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 125%;
  /* 125% */
}

.main-block__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main-block__button:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.main-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(838.19% 378.3% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191c1f 47.89%, rgba(31, 35, 39, 0) 100%);
}

.benefits {
  background-color: #191c1f;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  /* .benefits__container */
  /* .benefits__title */
  /* .benefits__item */
}

.benefits__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.875rem;
}

.item-benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  /* .item-benefits__icon */
  /* .item-benefits__body */
  /* .item-benefits__title */
  /* .item-benefits__text */
}

.item-benefit__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
}

.item-benefit__icon img {
  max-width: 100%;
}

.item-benefit__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-benefit__text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.training {
  background-color: #1f2327;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  /* .training__container */
  /* .training__content */
  /* .training__image */
}

.training__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.training__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 7.6875rem;
}

.training__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.training__title {
  max-width: 21.875rem;
}

.training__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.training__list li {
  padding-left: 2.1875rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  background: url("../img/icons/check.svg") 0 0.1875rem no-repeat;
}

.training__list li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.training__list:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.training__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.training__image img {
  max-width: 100%;
}

.leader {
  padding-top: 5.3125rem;
  padding-bottom: 5.3125rem;
  /* .leader__container */
  /* .leader__content */
  /* .leader__label */
  /* .leader__text */
  /* .leader__image */
}

.leader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leader__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 7.8125rem;
}

.leader__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.leader__title {
  max-width: 21.875rem;
}

.leader__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.leader__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 138.889%;
}

.leader__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.leader__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.leader__image img {
  max-width: 100%;
}

.no-webp .academy{
  background: url("../img/academy.jpg") center/cover no-repeat; }

.academy {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
  position: relative;
  text-align: center;
  /* .academy__container */
  /* .academy__label */
  /* .main-block__title */
  /* .main-block__text */
  /* .main-block__button */
}

.academy .academy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(838.19% 378.3% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191c1f 47.89%, rgba(31, 35, 39, 0) 100%);
}

.academy__container {
  position: relative;
  z-index: 2;
}

.academy__body {
  max-width: 46.625rem;
  margin: 0 auto;
}

.academy__label {
  line-height: 111.111%;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
}

.academy__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.academy__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 4rem;
  line-height: 1.171875;
  font-weight: 700;
}

.academy__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.academy__text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 125%;
  /* 125% */
}

.academy__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.academy__button:not(:last-child) {
  margin-bottom: 0.9375rem;
}

@media (max-width: 71.25em) {
  .training__content {
    padding-left: 3.125rem;
  }
}

@media (max-width: 61.99875em) {
  .main-block {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .main-block__title {
    font-size: 3.375rem;
  }

  .academy {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .academy__title {
    font-size: 3.375rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .main-block {
    padding-top: 6.25rem;
    padding-bottom: 0rem;
  }

  .academy {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

@media (max-width: 61.9375em) {
  .training {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .training__content {
    padding-left: 1.875rem;
  }

  .leader {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .leader__content {
    padding-right: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .training__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 1.5625rem;
  }

  .training__content {
    padding-left: 0rem;
  }

  .training__image {
    text-align: center;
  }

  .leader__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 1.5625rem;
  }

  .leader__content {
    padding-right: 0rem;
  }

  .leader__image {
    text-align: center;
  }
}

.webp .main-block{ background: url(../img/main-background.webp) center/cover no-repeat; }

.webp .academy{ background: url(../img/academy.webp) center/cover no-repeat; }