@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Space+Grotesk";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Space+Grotesk";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.account {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .account__left-side */
  /* .account__title */
  /* .account__text */
  /* .account__content */
  /* .account__inset */
  /* .account__logo */
  /* .account__form */
  /* .account__login */
  /* .account__link-login */
}

.account__left-side {
  font-family: "Manrope";
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  gap: 1.3125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.444444%;
          flex: 0 0 49.444444%;
}

.no-webp .account__left-side::before{
  background: url("../img/main.jpeg") center/cover no-repeat; }

.account__left-side::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
}

.account__title,
.account__text {
  position: relative;
}

.account__left-side,
.account__content {
  padding: 4.75rem 4.166667%;
}

.account__title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
  max-width: 19.3125rem;
  line-height: 1.15;
}

.account__text {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.35;
}

.account__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.account__inset {
  max-width: 26.875rem;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 26.875rem;
}

.account__logo {
  color: #1d1d1b;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.35;
  padding-left: 2rem;
  background: url("../img/Frame.svg") left/1.5rem no-repeat;
}

.account__login {
  text-align: center;
  font-size: 1rem;
  line-height: 1.25;
}

.account__link-login {
  text-decoration: underline;
  font-weight: 500;
  line-height: 1.25;
}

.account__link-login:hover {
  text-decoration: none;
}

.form {
  /* .form__title */
  /* .form__text */
  /* .form__items */
  /* .form__input */
  /* .form__actions */
  /* .form__button */
  /* .form__or */
  /* .form__google */
}

.form__title {
  color: #000;
  font-size: 2.25rem;
  line-height: 1.3611111111;
  font-weight: 800;
}

.form__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.form__text {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 400;
}

.form__items {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  padding: 0.6875rem 0;
}

.form__items:not(:last-child) {
  margin-bottom: 1.875rem;
}

.form__input {
  height: 3rem;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: border-bottom 0.8s ease 0s, padding-left 0.3s ease 0s;
  transition: border-bottom 0.8s ease 0s, padding-left 0.3s ease 0s;
}

.form__input:hover {
  border-bottom: 1px solid #000;
}

.form__input:focus {
  padding-left: 0.9375rem;
}

.form__input::-webkit-input-placeholder {
  color: #000;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input::-moz-placeholder {
  color: #000;
  -moz-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input:-ms-input-placeholder {
  color: #000;
  -ms-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input::-ms-input-placeholder {
  color: #000;
  -ms-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input::placeholder {
  color: #000;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__actions {
  display: -ms-grid;
  display: grid;
  gap: 1.625rem;
}

.form__button {
  padding: 1.25rem 2.25rem;
  border-radius: 0.375rem;
  background-color: #060606;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.form__button:hover {
  background-color: #333;
}

.form__or {
  color: #7a7a7a;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 400;
  position: relative;
}

.form__or::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  top: 50%;
  left: 0;
  background-color: #e0e0e0;
  border: 0.0625rem solid #e0e0e0;
}

.form__or span {
  background-color: #fff;
  position: relative;
  padding: 0rem 0.5rem;
}

.form__google {
  border-radius: 0.375rem;
  border: 0.0625rem solid #d9d9d9;
  padding: 1.25rem 0.75rem;
  gap: 16px;
  text-align: center;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.form__google:hover {
  border: 0.0625rem solid #000;
}

.form__google span {
  text-align: left;
  background: url("../img/google-icon.svg") left/1.5rem no-repeat;
  padding-left: 2.5rem;
  line-height: 1.3;
}

.account__left-side::before {
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.loaded .account__left-side::before {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 2s ease 1.5s;
  transition: all 2s ease 1.5s;
}

.form > *,
.account__logo,
.account__login {
  -webkit-transform: translate(0px, 1.875rem);
      -ms-transform: translate(0px, 1.875rem);
          transform: translate(0px, 1.875rem);
  opacity: 0;
}

.loaded .form > *,
.loaded .account__logo,
.loaded .account__login {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
}

.loaded .account__logo {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.loaded .form__title {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.loaded .form__text {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.loaded .form__items {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.loaded .form__actions {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.loaded .form__login {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

@media (max-width: 64.375em) {
  .account {
    display: block;
  }

  .account__left-side::before {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .account__left-side,
  .account__content {
    padding: 2.75rem 5.166667%;
  }

  .account__inset {
    gap: 2.125rem;
    min-width: 0;
    max-width: none;
  }
}

.webp .account__left-side::before{ background: url(../img/main.webp) center/cover no-repeat; }