@import url(https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #495057;
  line-height: 1;
  font-family: "Lora";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lora";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  background-color: #f8f9fa;
}

.title {
  color: #fff;
  font-family: Lora;
  font-weight: 700;
  line-height: 1.2777777778;
}

.title__dark {
  color: #495057;
}

.text {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6666666667;
}

.category {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  gap: 0.625rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.category:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
  /* .header__container */
  /* .header__logo */
  /* .header__menu */
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 5rem;
}

.menu {
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.3125rem;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.menu__link {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  display: inline-block;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #d4a373;
}

.menu__link.active::after,
.menu__link:hover::after {
  width: 100%;
  left: 0;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #343a40;
  padding: 1.875rem;
  /* .footer__container */
  /* .footer__text */
  /* .footer__up */
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.footer__text {
  text-transform: uppercase;
  color: #e5e5e5;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2857142857;
}

.footer__up {
  color: #e5e5e5;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857142857;
}

.footer__up:hover {
  text-decoration: underline;
}

.page {
  /* .page__home */
}

.home {
  /* .home__section */
  /* .home__main-slider */
}

.home__section {
  display: -ms-grid;
  display: grid;
}

.main-slider {
  min-width: 0;
  /* .main-slider__wrapper */
  /* .main-slider__slide */
  /* .main-slider__bg */
  /* .main-slider__category */
  /* .main-slider__body */
  /* .main-slider__date */
  /* .main-slider__text */
}

.main-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background-color: #343a40;
}

.main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.main-slider__container {
  min-height: 100vh;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-slider__title {
  max-width: 33.125rem;
}

.main-slider__body {
  color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.6875rem;
}

.main-slider__date {
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider__date::after {
  content: "";
  width: 1.875rem;
  height: 0.0625rem;
  background: #e5e5e5;
}

.main-slider__text {
  max-width: 26.25rem;
}

.bullets {
  /* .bullets__container */
  position: relative;
  z-index: 2;
  margin-top: -11.25rem;
  /* .bullets__items */
}

.bullets__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.75rem;
  gap: 0.625rem;
}

.main-slider__category,
.main-slider__title,
.main-slider__body {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.loaded .main-slider__category {
  -webkit-animation: slideIn 0.8s ease 0.5s forwards;
          animation: slideIn 0.8s ease 0.5s forwards;
}

.loaded .main-slider__title {
  -webkit-animation: slideIn 0.8s ease 0.7s forwards;
          animation: slideIn 0.8s ease 0.7s forwards;
}

.loaded .main-slider__body {
  -webkit-animation: slideIn 0.8s ease 0.9s forwards;
          animation: slideIn 0.8s ease 0.9s forwards;
}

@-webkit-keyframes slideIn {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.bullets__items .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5rem;
          flex: 0 0 0.5rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.bullets__items .swiper-pagination-bullet-active {
  opacity: 1;
}

.home {
  /* .home__popular */
}

.popular {
  /* .popular__container */
  /* .popular__header */
  /* .popular__title */
  /* .popular__tabs */
  /* .popular__navigation */
  /* .popular__content */
  /* .popular__tab */
}

.popular__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.popular__btn {
  font-weight: 700;
  position: relative;
  line-height: 1.5;
}

.popular__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.125rem;
  background-color: #d4a373;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popular__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.item-popular {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 0.9375rem;
  position: relative;
  /* .item-popular__category */
  /* .item-popular__image */
  /* .item-popular__date */
  /* .item-popular__title */
  /* .item-popular__link-title */
  /* .item-popular__text */
}

.item-popular__category {
  position: absolute;
  z-index: 2;
  top: 1.25rem;
  right: 1.25rem;
}

.item-popular__image {
  position: relative;
  overflow: hidden;
  border-radius: 0.3125rem;
  padding-bottom: 90.3225806452%;
}

.item-popular__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item-popular__image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.item-popular__date {
  color: #6c757d;
  font-size: 0.75rem;
  line-height: 1.25;
}

.item-popular__title {
  color: #495057;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 138.889%;
}

.item-popular__link-title:hover {
  text-decoration: underline;
}

.item-popular__text {
  color: #6c757d;
}

.popular__btn._tab-active::after,
.popular__btn:hover::after {
  width: 100%;
  left: 0;
}

.home {
  /* .home__big-post */
}

.big-post {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  /* .big-post__container */
  /* .big-post__category */
  /* .big-post__title */
  /* .big-post__link-title */
  /* .big-post__text */
  /* .big-post__author */
  /* .big-post__bg */
}

.big-post__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  z-index: 2;
  gap: 0.8125rem;
}

.big-post__title {
  max-width: 33.125rem;
}

.big-post__text {
  color: #e5e5e5;
  max-width: 26.25rem;
}

.big-post__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #343a40;
}

.big-post__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.related {
  padding: 6.25rem 0rem;
  /* .related__container */
  /* .related__title */
  /* .related__items */
  /* .related__item */
}

.related__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26.25rem, 1fr));
  gap: 1.25rem;
}

.item-related {
  border-radius: 0.3125rem;
  position: relative;
  overflow: hidden;
  /* .item-related__categoty */
  /* .item-related__content */
  /* .item-related__date */
  /* .item-popular__title */
  /* .item-popular__link-title */
  /* .item-popular__text */
  /* .item-related__image */
}

.item-related__category {
  position: absolute;
  z-index: 3;
  top: 1.25rem;
  right: 1.25rem;
}

.item-related__content {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: end;
  color: #e5e5e5;
  min-height: 21.875rem;
  gap: 0.9375rem;
  padding: 2.5rem;
}

.item-related__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 138.889%;
}

.item-related__title:hover {
  text-decoration: underline;
}

.item-related__text {
  color: #e5e5e5;
}

.item-related__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(52, 58, 64, 0.5);
}

.item-related__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item-related:hover .item-related__image img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

[data-item] {
  -webkit-transform: translate(0rem, 3.125rem);
      -ms-transform: translate(0rem, 3.125rem);
          transform: translate(0rem, 3.125rem);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

[data-item].active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 83.125em) {
  .title {
    font-size: 2.25rem;
  }

  .home__section {
    gap: 6.25rem;
  }

  .main-slider__container {
    gap: 0.9375rem;
  }

  .main-slider__container {
    padding-top: 6.25rem;
  }

  .main-slider__container {
    padding-bottom: 8.75rem;
  }

  .popular__header {
    margin-bottom: 2.8125rem;
  }

  .popular__items {
    row-gap: 3.125rem;
  }

  .related__title {
    margin-bottom: 2.8125rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.25rem;
  }

  .home__section {
    gap: 2.5rem;
  }

  .main-slider__container {
    gap: 0.625rem;
  }

  .main-slider__container {
    padding-top: 2.5rem;
  }

  .main-slider__container {
    padding-bottom: 2.5rem;
  }

  .popular__header {
    margin-bottom: 1.875rem;
  }

  .popular__items {
    row-gap: 1.875rem;
  }

  .related__title {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 83.125em) {
  .related {
    padding: 4.375rem 0rem;
  }
}

@media (max-width: 47.99875em) {
  .bullets__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 12.5rem;
  }

  .popular__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .related {
    padding: 2.5rem 0rem;
  }

  .item-related__content {
    padding: 0.9375rem;
    min-height: 18.75rem;
  }
}

@media (max-width: 29.99875em) {
  .bullets__items {
    height: 18.75rem;
  }

  .related__items {
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  }
}

@media (min-width: 20em) and (max-width: 83.125em) {
@supports (font-size: clamp( 1.25rem , 0.9331683168rem  +  1.5841584158vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.25rem , 0.9331683168rem  +  1.5841584158vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9331683168rem  +  1.5841584158vw , 2.25rem )) {
    .title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 63.125);
    }
}

@supports (gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .home__section {
      gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem );
    }
}

@supports not (gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .home__section {
      gap: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.125);
    }
}

@supports (gap: clamp( 0.625rem , 0.525990099rem  +  0.495049505vw , 0.9375rem )) {
    .main-slider__container {
      gap: clamp( 0.625rem , 0.525990099rem  +  0.495049505vw , 0.9375rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.525990099rem  +  0.495049505vw , 0.9375rem )) {
    .main-slider__container {
      gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .main-slider__container {
      padding-top: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .main-slider__container {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.5198019802rem  +  9.900990099vw , 8.75rem )) {
    .main-slider__container {
      padding-bottom: clamp( 2.5rem , 0.5198019802rem  +  9.900990099vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.5198019802rem  +  9.900990099vw , 8.75rem )) {
    .main-slider__container {
      padding-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.577970297rem  +  1.4851485149vw , 2.8125rem )) {
    .popular__header {
      margin-bottom: clamp( 1.875rem , 1.577970297rem  +  1.4851485149vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.577970297rem  +  1.4851485149vw , 2.8125rem )) {
    .popular__header {
      margin-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 63.125);
    }
}

@supports (row-gap: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .popular__items {
      row-gap: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .popular__items {
      row-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.754950495rem  +  2.4752475248vw , 2.8125rem )) {
    .related__title {
      margin-bottom: clamp( 1.25rem , 0.754950495rem  +  2.4752475248vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.754950495rem  +  2.4752475248vw , 2.8125rem )) {
    .related__title {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 63.125);
    }
}
}